<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <php>
        <env name="DB_URL" value="https://central-amigo-men-technologies.turso.io"/>
        <env name="DB_ACCESS_TOKEN" value="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MzQ2MzgwODIsImlkIjoiMmRjOTY5MDgtYTUzZC00MWE5LTgyZDItODkyZDg4YzI2ODRlIn0.wMwo-mmEDkfnvBg0lvj09vJr_ZTCEJFQWhjDmjxXQqpcxievVC5v3IQEnDgOyve0M0JhOFgDPlen9m9BRXQwAg"/>
    </php>
    <testsuites>
        <testsuite name="Turso Laravel Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
